body {
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  margin: 4%;
}

h1, h2 {
  font-family: 'Black Ops One', cursive;
  color: #1f7a8c;
  letter-spacing: 5px;
  font-size: 3.5rem;
}

#createButton {
  float: right;
  top: 30px;
  position: relative;
  color: black;
  font-weight: 600;
  background-color: #eb547a;
  text-decoration: none;
  border-radius: 2em;
  padding: .01em .4em .01em .1em;
  font-size: 1.5rem;
}

#homeH1 {
  display: inline;
}

#tableHeader {
  text-align: left;

}

.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* table layout - this is so we can manually adjust column widths */
/* border collapse - to get rid of weird double borders */
table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid black;
  margin-bottom: 1rem;
  color: black;
}

thead th:nth-child(1) {
  width: 34%;
}

thead th:nth-child(3),
thead th:nth-child(5) {
  width: 17%;
}

thead th:nth-child(2),
thead th:nth-child(4),
thead th:nth-child(6),
thead th:nth-child(7) {
  width: 8%;
}

td {
  padding: 12px;
  border: 1px solid black;
  color: black;
}

th {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 13px;
  color: white;
  background: rgb(53, 54, 53);
  border: 1px solid black;
}

tbody tr:nth-child(odd) {
  background-color: #e0e0e0;
  border: 1px solid black;
  color: black;
}

/* button {
  font-family: 'Creepster', sans-serif;
  color: white;
  background-color: rgb(160, 0, 0);
  letter-spacing: 2px;
  border-radius: 2em;
  padding: .4em 1.4em;
  border: 0px;
  font-size: medium;
  transition: all .5s;
  margin-bottom: 2rem;
}

button:hover {
  background-color:black;
} */